body {
   
}
.bu{
    background-color:green;
    width:100px;
}
#maincover{
    background-color:yellow;
   margin:auto;
    width:100%;
}
#cover{
    background-color:#ff0066;
    height:60px;
    text-align:center;
}
#copyright{
    background-color:#ff0066;
    height:20px;
    width:80%;
    margin-left:10%;
    text-align:center;
}